<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">VTTL</h5>
        <p class="grey-text text-lighten-4">Your table tennis platform! </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.vttl.be/" target="_blank">Visit the official website</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-4" >
    <div class="container">
    © 2017 Copyright Stijn De Brauwer
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>