<div class= "container">
  <h4>Add your news:</h4>
  <div id="addNews" class="row">
    <form  [formGroup]='newsItem' (ngSubmit)='onSubmit()'>
      <div class="row">
      <input  placeholder= "What's your title?" class="active" id="title" type="text" formControlName="title">
      <label  for="title">Title:</label>
      <div id="error" *ngIf= 'newsItem.get("title").errors?.required && newsItem.get("title").touched'>
        Please fill in a title...
      </div>
    </div>

      <div class="row">
      <textarea placeholder= "Give your short description..." class="active" id="description" type="text" formControlName="description"></textarea>
      <label for="description">Description:</label>
      <div id="error" *ngIf=' newsItem.get("description").errors?.required && newsItem.get("description").touched'>
        Please fill in the description...
      </div>
    </div>

      <div class="row">
      <textarea  placeholder= "Write your article..." class="active" id="text" type="text" formControlName="text"></textarea>
      <label for="text">Text:</label>
      <div id="error" *ngIf=' newsItem.get("text").errors?.minlength && newsItem.get("text").touched'>
       Please fill in the text...
      </div>
    </div>

      <div class="row">
      <button [disabled]="!newsItem.valid" class = "btn waves-effect waves-light" type ="submit">Submit</button>
    </div>
    </form>
  </div>
</div>
