<nav>
    <div class="nav-wrapper light-blue darken-4">
      <a routerLink="/news" class="brand-logo"><img src="assets/img/customLogo.png" width="100px" height="65px"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/news">News</a></li>
        <li><a routerLink="/series">Series</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li> <a *ngIf='(currentUser | async) else routelogin' class="item" routerLinkActive='active' routerLink="/logout">Welcome, {{currentUser|async}}</a></li>
        <ng-template #routelogin>
          <li> <a class="item" routerLinkActive='active' routerLink="/login">Log in</a> </li>
         </ng-template>
       </ul>
      
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/news"><i class="material-icons">explore</i>News</a></li>
        <li><a routerLink="/series"><i class="material-icons">show_chart</i>Series</a></li>
        <li><a routerLink="/blog"><i class="material-icons">people</i>Blog</a></li>
       <li> <a *ngIf='(currentUser | async) else routelogin' class="item" routerLinkActive='active' routerLink="/logout">Welcome {{currentUser|async}}</a></li>
       <ng-template #routelogin>
         <li> <a class="item" routerLinkActive='active' routerLink="/login">Log in</a> </li>
        </ng-template>
      </ul>
    </div>
  </nav>

