<div class="container">
  <form [formGroup]='user' (ngSubmit)='onSubmit()' class="card-content">
    <div class="row">
      <h3>Register</h3>
    </div>

    <div class="row">
      <label>Username</label>
      <input id="username" class="input col s2" type="text" class="validate" formControlName='username'>
      <div class='error' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
        This username already exists!
      </div>
    </div>

    <div formGroupName='passwordGroup'>
      <div class="row">
        <label>Password</label>
        <input id="password" class="input col s2" type="password" class="validate" formControlName='password'>
        <div class='error' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
          Password too short, you must have at least {{passwordControl.errors?.passwordTooShort.requiredLength}} characters
        </div>
      </div>

      <div class="row">
        <label>Confirm password</label>
        <input id="confirmPassword" class="input col s2" type="password" class="validate" formControlName='confirmPassword'>
        <div class='error' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
          Password must match!
        </div>
      </div>

        <div class="row">
          <button type='submit' class="waves-effect waves-light btn">Register</button>
        </div>
    </div>

  </form>

  </div>