<div class="container">

<h2>Blog feet</h2>
<div class="row s8">
    <form >
      <div class="row">
            <div class="chip">
                    <i class="material-icons" >account_circle</i>
                    {{user.username}}
                  </div>
        <div class="input-field">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Post</label>

          <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
        </div>
      </div>
    </form>
  </div>
</div>


