

<div class="container">
  <h2>Blog feet</h2>
<h5>Post your comments below:</h5>
<app-add-post (postAdded)='addPost($event)'></app-add-post> 

<div class="container">
  <h5>What others commented:</h5>
<hr/>
<div  *ngFor="let post of posts" class = "row">
          <div id="sectionPost" class="chip">
            <i class="material-icons">account_circle</i>  <span id="icontext">{{post.user}}</span>
          </div>
          <p>{{post.text}}</p>
          <p><span id = "postDate"> Posted on {{post.date | date}} </span> </p>
          <div class="divider"></div>
        </div>
       
</div>
</div>


