<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center white-text text-darken-4">EXPERIENCE TABLE TENNIS</h1>
      <div class="row center">
        <h5 class="header col s12 light">Get the latest news, matches, live rankings and comments</h5>
      </div>
        <br/>
        <div class="row center">
          <a (click)= "scroll(target)"class="btn btn-large">GET THE LATEST NEWS</a>
        <br/>
      </div>
    </div>
  </div>
</div>

<div class="row center" #target>
<h2>LATEST UPDATES</h2>
</div>
<div class="row center">
    <div class="col s6" *ngFor="let newsitem of newsItems">
      <div class="card card-panel hoverable">
        <div class="card-image">
          <img src="assets/img/img.jpg">
          <span class="card-title">{{newsitem.title}}</span>
        </div>
        <div class="card-content">
          <p>{{newsitem.description}}</p>
        </div>
        <div class="card-action">
          <div class = "row">
          <a [routerLink]="['./', newsitem.id]">Read more</a>
        </div>

        <div *ngIf = "isRegistered()" class= "row">
          <div class = "col s6 left">
              <button><i class="material-icons">edit</i></button>
          </div>

          <div class = "col s6 right">
              <button (click)="removeItem(newsitem)" ><i class="material-icons">delete</i></button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div *ngIf ="isRegistered()"class="row center">

   <app-add-news (newsAdded) = "addNewsItem($event)">
   </app-add-news>
  </div>

