<div id="sidenav" class="col s3 z-depth-2 center-align">
       <!--<div class= "row ">
          <ul class= "collection with-header">
            <li routerLink="./international" class="collection-header"> <h5>International</h5></li>
            <a class="collection-item"><li>Men's tour</li></a>
            <a class="collection-item"> <li>Women's tour</li></a>
            <a class="collection-item"><li>Doubles</li> </a>
            <a class="collection-item"><li>Youth's tour </li> </a>
          </ul>
        </div>-->
        <div id = "sidebaritem" class= "row">
            <ul class= "collection with-header">
              <li class="collection-header"> <h5>National</h5></li>
              <a routerLink= "./matches" class="collection-item "><li>Super devision</li></a>
              <a routerLink= "./matches" class="collection-item"> <li>First devision</li></a>
              <a routerLink= "./matches" class="collection-item"><li>Second devision</li> </a>
              <a routerLink= "./matches" class="collection-item"><li>Regional devision </li> </a>
            </ul>
          </div>
          <div id = "sidebaritem" class= "row">
              <ul class= "collection with-header">
                <li class="collection-header"> <h5>Regional</h5></li>
                <a routerLink= "./matches" class="collection-item"><li>Antwerpen</li></a>
                <a routerLink= "./matches" class="collection-item"> <li>Brussel</li></a>
                <a routerLink= "./matches" class="collection-item"><li>Limburg</li> </a>
                <a routerLink= "./matches" routerLink= "./matches" class="collection-item"><li>Oost-Vlaanderen </li> </a>
                <a routerLink= "./matches" class="collection-item"><li>Vlaams-Brabant </li> </a>
                <a routerLink= "./matches" class="collection-item"><li>West-Vlaanderen </li> </a>
              </ul>
            </div>
    </div>