 <div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center white-text text-darken-4">EXPERIENCE TABLE TENNIS</h1>
      <div class="row center">
        <h5 class="header col s12 light">Get the latest news, matches, live rankings and comments</h5>
      </div>
    </div>
  </div>
</div>

<h5>Latest news</h5>
<div class="row " *ngFor="let newsitem of newsItems">
    <div class="col s12">
      <div class="card card-panel hoverable">
        <div class="card-image">
          <img src="assets/img/img.jpg" height="300px">
          <span class="card-title">{{newsitem.title}}</span>
        </div>
        <div class="card-content">
          <p>{{newsitem.text}}</p>
        </div>
        <div class="card-action">
          <a href="#">Lees meer</a>
        </div>
      </div>
    </div>
  </div>

  <app-player></app-player>
  <!--
   <div id = "item">
    <div class="row" *ngFor="let newsitem of newsItems">
      <h2>{{newsitem.title}}</h2>
        <p>{{newsitem.text}}</p>
    </div>
    <div class="divider"></div>
  </div> -->
