
<div class="row center col s9">
  <h4>{{serie?.title}}</h4>
  <table class="centered highlight bordered responsive-table">
    <thead>
      <tr>
          <th>Date</th>
          <th>Player</th>
          <th>Player</th>
          <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <tr  *ngFor="let match of serie?.matches">
        <td>{{match?.date}}</td>
        <td>{{match?.playerA}}</td>
        <td>{{match?.playerB}}</td>
        <td>{{match?.setsPlayerA}} - {{match?.setsPlayerB}} </td>
      </tr>
    </tbody>
  </table>

</div>
