<div class=" row center col s9">
  <div id="tabs" class="row">
    <a routerLink="./matches" class="waves-effect waves-light btn light-blue darken-3">Matches</a>
    <a routerLink="./ranking" class="waves-effect waves-light btn light-blue darken-3  ">Ranking</a>
  </div>

  <div id="searchbar" class="row">
    <div class="search-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="search players, matches or results" required>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </div>
</div>